body {
    height: 100%;
    background: linear-gradient(135deg, #f98383, #ed7c8b, #de7692, #ce7297, #bc6f9a, #a76c9b, #916899, #7c6594, #616089, #4a597b, #39516a, #2f4858);
    background-size: cover;
}
img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}
hr.solid {
    border-top: 1px solid white;
}
nav {
    background-color: #F98383;
}
.dropdown-menu {
    background-color: #F98383;
    border: none;
}
.dropdown-item:hover {
    background-color: #F98383;
}
a {
    color: #F3EADA !important;
}
.card {
    background-color: #A36B9B;
    color: #F3EADA;
}
footer {
    background-color: #2F4858;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F3EADA
}
.forSpacing {
    padding-bottom: 100px;
}